body{
    margin: 0%;
    padding: 0%;
    background-image: url('https://image.freepik.com/free-vector/let-s-rock-neon-style-text_118419-607.jpg');
height: 100vh;
width: 100%;
background-size: cover;
}
#color-overlay{
    margin: 0%;
    padding: 0%;
    opacity: 0.8;
    text-align: center;
    color: white;
}
#text-bg{line-height: 100vh;
font-size: 80px;
    margin: 0;
    text-align: center;
}